body {
    background-image: url('../img/bgbd.jpg');
    background-size: auto;
}

.btn.btn-outline-primary {
    --bs-btn-padding-y: 0px;
}

.day-box {
    border: 2px solid black;
    border-radius: 5px;
    float: left;
}

.day-box-header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

table.day-box-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.day-box-table td, th {
    border-top: 1px solid;
    padding: 8px;
    text-align: left;
}

.day-box-title, table.day-box-table {
    font-family: Tahoma, Verdana, sans-serif;
}

.nama-matkul {
    word-wrap: break-word;
    width: 60%;
}

.sks {
    width: 10%;
}

#pagePrint {
    display: grid;
    grid: auto / 50% 50%;
    gap: 10px;
}

